{{ 'collections-list.css' | asset_url | stylesheet_tag }}

<div class="container">
    {% paginate collection.products %}
        <div class="collection__header">
            <h1 class="collection__name">{{ collection.title | upcase }}</h1>
            <div class="collection__links">
                {% for collection_item in collections %}
                        {% unless collection_item.title == 'Best Sellers' %}
                            <a class="collection__link {% if collection.title == collection_item.title %}active{% endif %}" href="{{ collection_item.url }}">
                                {{ collection_item.title | upcase }}
                            </a>
                            <span>/</span>
                        {% endunless %}
                {% endfor %}
            </div>
        </div>
        <div class="collection__items">
            {% for product in collection.products %}
                {% render "product-card", productItem: product %}
            {% else %}
                <p>no matches</p>
            {% endfor %}
        </div>
        {% if paginate.pages > 1 %}
            {{ paginate | default_pagination }}
        {% endif %}
    {% endpaginate %}
</div>

{% schema %}
{
   "name": "Collections List",
   "tag": "section",
   "class": "collections-list"
}
{% endschema %}


<script>
    const reviewsContainer = document.querySelectorAll(".product-reviews");
    setTimeout(() => {
        reviewsContainer.forEach(function (review) {
            let hasStars = review.querySelector(".yotpo-stars");
            if (!hasStars) {
                review.innerHTML = `<div class="yotpo bottomline">
                    <div class="yotpo-bottomline pull-left star-clickable">  
                        <span class="yotpo-stars"> 
                            <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>
                            <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>
                            <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>
                            <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>
                            <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>
                        </span>      
                        <div class="yotpo-clr"></div>
                    </div>
                </div><br>`
            }
        });
    }, 1000);
</script>