{{ 'footer.css' | asset_url | stylesheet_tag }}

<div class="container container--footer">
    <span class="footer__logo">{% render "icon-short-logo" %}</span>
    {% form 'customer', class: "footer__form" %}
        <div class="email">
            <label for="email">{{ section.settings.form_title | upcase }}</label>
            <div class="form__input">
                <input type="email" name="contact[email]" id="email" value="{{ form.email }}" placeholder="Enter your email" />
                <button style="border: 0; background: none;" type="submit">
                    <span class="form__arrow"><a href="">{% render "icon-arrow" %}</a></span>
                <button>
            </div>
        </div>
        <div class="footer__socials">
            {% render "icon-facebook" %}
            {% render "icon-instagram" %}
            {% render "icon-mail" %}
        </div>
    {% endform %}
    {% for block in section.blocks %}
        {% assign item = block.settings %}
        {% if block.type == "link_list" %}
            <div class="footer__links">
                <p class="column-title">{{ item.title | upcase }}</p>
                {% assign footer__linklist = item.menu %}
                <ul class="footer__nav">
                    {% for link in linklists[footer__linklist].links %}
                        <li class="footer__nav__link">
                            <a href="{{ link.url }}">{{ link.title | escape }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% schema %}
{
   "name": "Footer",
   "tag": "footer",
   "class": "footer",
   "settings": [
        {
           "type": "text",
           "id": "form_title",
           "label": "Form Label",
           "default": "Newsletter"
        }
   ],
   "blocks": [
        {
           "type": "link_list",
           "name": "Navigation",
           "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Footer Title"
                },
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Menu"
                }
           ]
        }
   ]
}
{% endschema %}